body{
    background-color: antiquewhite;
}
/*Primera medida: Dispositivos pequeños*/
@media (max-width:575px)/*Aplicar estilos y estos sran visibles hassta que la pantalla mida 575px
despues de ese valor se veran los estilos aplicados previamente*/
{
    body{
        background-color: cyan;
    }
    p{
        font-size: 30px;
    }
}
/*Segunda medida*/
@media (min-width:576px) and (max-width:768px)
{
    body{
        background-color: burlywood;
    }
    p{
        font-size: 25px;
    }
}
/*Tercera medida*/
@media (min-width:769px) and (max-width:992px)
{
    body{
        background-color: cadetblue;
    }
    p{
        font-size: 20px;
    }
}

