*{
    box-sizing: border-box;/*acomoda automaticamente el tamaño de las cajas restandole las propiedades de paddind, border y margin*/
}
body

{
    width: 50%;
    margin: 0 auto;
}

header
{
    background-color: beige;
    text-align: center;
}

 header img
 {
    width: 450px;
 }

 main .navegacion
 {
    background-color: gray;
    text-align: center;
    
 }

 main .navegacion a
 {
    margin: 0 30px ;
    text-decoration: none;
    
 }

 main .izquierda
 {
    background-color: rgb(173, 162, 162);
    width: 385px;
    height: 550px;
    float: left;
    margin-top: 10px;
    padding: 10px 5px
 }
main .derecha
{
    background-color:aqua ;
    height: 550px;
    margin-top: 10px;
    float: right;
    width: 550px;
}
 main .derecha1
 {
    background-color: rgb(235, 162, 153);
    height: 270px;
    margin: 0 0 10px 0px;

 }

footer
{
    background-color: pink;
    clear: both;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

footer img
{
    width: 100px; ;
}
